body {
    font-family: Arial, sans-serif;
    background-image: url('https://thumbs.dreamstime.com/z/dog-nurse-outfit-cat-companion-blue-background-dressed-as-poses-against-creating-humorous-take-healthcare-themes-354554439.jpg');
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 20px;
}

input, button, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #f1eceb;
    border: none;
    border-radius: 5px;
}

button {
    background-color: purple;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: darkviolet;
}

header {
    background: #17bbd4;
    padding: 2rem;
}

nav {
    background: #ffb703;
    padding: 1rem;
}

nav a {
    margin: 0 1rem;
    color: darkred;
    text-decoration: none;
    font-weight: bold;
}

.hero {
    background: #d9fcce;
    padding: 2rem;
    border-radius: 10px;
    margin: 1rem auto;
    max-width: 1000px;
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5rem;
    margin-top: 2rem;
}

.card {
    background: #f1efef;
    padding: 1.5rem;
    border-radius: 10px;
}

footer {
    background: #6c757d;
    color: white;
    padding: 1rem;
    margin-top: 3rem;
}
